body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

header {
    background-color: #154be0;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: large;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

nav{

    display: flex;
    justify-content: space-around;

}

.slide {
    display: none;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: block;
}

.banner {
    background-color: #f0f0f0;
    padding: 30px;
    
}

.banner p{

    text-align: left;

}

.banner h1{
    text-align: center;
    font-size: 50px;
}



.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.product h3 {
    margin-top: 0;
}

.product p.price {
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #154be0;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 10px;
}

.cart {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
}

.cart h2 {
    margin-top: 0;
}

.cartItems li {
    list-style-type: none;
    margin-bottom: 10px;
}

.sessao {
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

  .sessao img{
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

footer {
    background-color: #154be0;
    color: #fff;
    padding: 10px;
    text-align: center;
}
p{
    font-size: 25px;
}

.carousel {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .sessao {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  }

  
  .localizacao{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
  }


  h1, p{
    text-align: center;
  }

  iframe{
    margin-left: auto;
    margin-right: auto;
  }

  .endereco{
    text-align: center;
  }

  footer {
    background-color: #154be0;
    padding: 10px;
    text-align: center;
}

.footer-content {
    color: white;
    color: #f0f0f0;
    text-decoration: none;
}

a{
    color: #f0f0f0;
    text-decoration: none;
}

.how-to {
    background-color: #f2f2f2;
    padding: 40px;
}
body {
    background-image: url("img/casamento.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.product h3{
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    header {
      padding: 10px;
    }

    .sessao img{
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
      }

      
 .btn{
    display: inline-block;
    padding: 20px;
    background-color: #154be0;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 10px;
}

bottom {
    padding: 20px;
};
      
}

form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label,
  input,
  button {
    display: block;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 5px;
  }
  
  button {
    background-color: #43ba92;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #368e73;
  }
  
  /* Estilos CSS para a tabela */
  #tabela {
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  #tabela td,
  #tabela th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tabela th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
 .menu-toggle{
  display: none;
 }
  

/* Media query para exibir o menu em telas menores */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: #333333;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.menu-toggle:hover {
    color: #efeff1;
}

/* Estilo da navegação */
.nav-menu {
    display: none;
}

.nav-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fffcfc;
    transition: background 0.3s;
}

.nav-menu a:hover {
    background: #f0f0f0;
}

/* Estilo da navegação expandida */
.nav-menu.active {
    display: block;
}
}